huggingface_hub
transformers
sentence-transformers

langchain
langchain-core
langchain-community
langchain-huggingface
chromadb

python-dotenv
ipykernel
ipywidgets
notebook

ollama
llama-index
llama-index-embeddings-huggingface